@model List<Practica.Models.TableModelCarrera.CarreraTableModel>
@{
    ViewBag.Title = "Carrera";
}

<h2>@ViewBag.Title</h2>

<div class="row" style="text-align:right; padding:10px;">
    <a href="~/Carrera/Nuevo" class="btn btn-primary">Nuevo</a>
</div>

<div class="row">
    <div class="col-lg-12">
        <table class="table table-bordered">
            <tr>
                <th>#</th>
                <th>Carrera</th>
                <th>Clave</th>
            </tr>
            @foreach (var oElemento in Model)
            {
                <tr>
                    <td>@oElemento.IdCarrera</td>
                    <td>@oElemento.NomCarrera</td>
                    <td>@oElemento.Clave</td>
                    <td>
                        <a class="btn btn-primary" href="~/Carrera/Editar/@oElemento.IdCarrera">
                            <i class="fas fa-pencil-alt"></i>
                        </a>
                        <a class="btn btn-danger" href ="javascript:void(0);" onclick="confirmaEliminar(@oElemento.IdCarrera)"> 
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<script>function confirmaEliminar(id) {
    if (confirm("¿Está seguro de que desea eliminar este registro?")) {
        window.location.href = '/Carrera/Eliminar/' + id;
    }
}</script>